{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["IE 8"]
        }
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hot-loader/babel",
        "syntax-dynamic-import",
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": ["IE 8"]
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "syntax-dynamic-import",
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": ["IE 8"]
            }
          }
        ]
      ]
    }
  }
}
