{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
          "node": "current"
      }
    }]],
    "plugins": [
      "react-hot-loader/babel",
      "syntax-dynamic-import"
    ]
}
