{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "es6": true,
    "classes": true,
   },
   "rules": {
     # add this if you want
     #"comma-dangle": [1, "always-multiline"],
     #"consistent-return": 0,
     #"func-names": 0,
     #"arrow-parens": 0,
     #"no-underscore-dangle": 0,
     #"no-plusplus": 0,
     "no-underscore-dangle": 0,
     "space-before-function-paren": 0,
     "max-len": [1, 180, 4],
     "arrow-body-style": [0]
   },
}
