{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "es6": true,
    "classes": true,
   },
   "rules": {
     "arrow-body-style": [0],
     "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore",
     }],
     "func-names": ["error", "never"],
     "max-len": [1, 180, 4],
     "one-var-declaration-per-line": 0,
     "one-var": 0,
     "one-let": 0,
     "one-const": 0,
     "no-underscore-dangle": 0,
     "prefer-arrow-callback": 0,
     "space-before-function-paren": 0
   },
}
