{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "es6": true,
    "classes": true,
   },
   "rules": {
     # add this if you want
     #"consistent-return": 0,
     #"arrow-parens": 0,
     #"no-underscore-dangle": 0,
     #"no-plusplus": 0,
     "func-names": ["error", "never"],
     "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore",
     }],
     "no-underscore-dangle": 0,
     "space-before-function-paren": 0,
     "max-len": [1, 180, 4],
     "arrow-body-style": [0]
   },
}
